footer {
  background-color: black;
  color: white;
  display: flex;
  padding: 10px 15px;
}

footer > div {
  /* border: 1px solid red; */
  flex: 1;
}

.social-handles {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-contact, .footer-address {
  font-size: 0.8em;
  margin: auto;
  text-align: center;
}

.footer-contact > p {
  margin: 0;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.text {
  font-size: 0.9em;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 12px;
}