body {
  font-family: "Jost", sans-serif;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(207, 207, 207);
}

.main-div {
  position: relative;
  min-height: 100vh;
}

#read-more{
  color:#810000;
  font-size: larger;
  font-weight: bold;
}