hr {
  border-top: 2px solid black;
  width: 50%;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
}

.menu-container {
  /* border: 1px solid red; */
  background: #f5efef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  margin: 10px auto;
  width: 80%;
  max-width: 1090px;
}

.menu-title-container {
  background-color: #810000;
  /* background-color: #206a5d; */
  /* box-shadow: -2px 2px 5px black; */
  color: #f5efef;
  transform:skew(20deg);
  width: 50%;
}

.menu-title {
  text-align: center;
  text-shadow: 3px 3px black;
  margin: 10px;
  transform:skew(-20deg);
}

.menu-section-container {
  /* background: #e97171; */
  /* border-radius: 5%; */
  border: 5px solid black;
  border-style: dashed solid;
  display: flex;
  margin: 10px 0;
  width: 100%;
  padding: 20px;
}
.plates-container, .sides-container, .tea-extras-container {
  /* border: 1px solid red; */
  justify-content: space-between;
  flex: 1.5;
}

.menu-section {
  /* border: 1px solid red; */
}
.plates-section {
  /* border: 1px solid red; */
  /* width: 50%; */
  flex: 1.5;
  margin-right: 30px;
}
.rolls-section {
  /* border: 1px solid red; */
  margin: 0 auto;
}
.sides-section{
  flex: 1.5;
  margin-left: 30px;
}

.section-title-container {
  /* background-color: #ffcb8e; */
  background-color: #fab260;
  transform: skew(-20deg);
}

.menu-section-title {
  /* color: #f5efef; */
  /* text-shadow: 1px 1px 1px white; */
  padding: 5px 15px;
  transform: skew(20deg);
}
.sides-title {
  text-align: right;
}
.tea-title {
  text-align: center;
}

.menu-items {
  /* border: 1px solid red; */
  /* display: flex; */
}
.rolls-items {
  /* border: 1px solid red; */
  columns: 3;
}

.menu-imgs {
  /* border: 1px solid blue; */
  flex: 1;
  display: flex;
  justify-content: center;
  /* background-color: #ffffff; */
  /* background-image: url("https://www.transparenttextures.com/patterns/arches.png"); */
}
.menu-imgs > img {
  /* border: 1px solid red; */
  margin: 10px 0;
  object-fit: cover;
  opacity: 0.6;
  width: 100%;
}
.menu-imgs > img:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.sushi-menu-item {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px 5px;

  -webkit-column-break-inside: avoid-column; 
  page-break-inside: avoid-column;
  break-inside: avoid-column;
}

.item-top {
  /* border: 1px solid red; */
  margin: 5px 0;
}
.item-top > p {
  /* border: 1px solid red; */
  margin: 0;
}

.item-bottom {
  margin: 0 0 5px;
}
.item-bottom > p {
  margin: 0;
  width: 90%;
}

.item-top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* .tea-header-container {
  border: 1px solid red;
  display: flex;
} */

.tea-section-container {
  border: 5px solid black;
  border-style: dashed solid;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
}

.tea-price {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 60%;
}

.sweetness-level {
  /* border: 1px solid red; */
  font-weight: bold;
  text-align: center;
}

.flavors-container {
  /* border: 1px solid red; */
}

.flavors-title-container {
  /* border: 1px solid red; */
  margin: 35px auto;
  /* height: 20px; */
  width: 50%;
}

.flavors-title-background {
  /* border: 1px solid red; */
  background-color: #97be80;
  height: 30px;
  margin: 0 auto;
  position: relative;
  transform: skew(-20deg, -12deg);
  width: 145px;
}

.flavors-title {
  margin: 15px;
  /* position: absolute; */
  text-align: center;
  transform: skew(20deg, 12deg);
}

.tea-keys {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
  width: 50%;
}

.tea-flavors {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 900px;
  padding: 10px 0;
}

.tea-flavors-item {
  /* border: 1px solid black; */
  background-color: #fcbe78;
  box-shadow: 2px 2px 3px rgb(189, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  /* transform:skew(20deg); */

  /* -webkit-column-break-inside: avoid-column; 
  page-break-inside: avoid-column;
  break-inside: avoid-column; */
}

.tea-flavors-item > p {
  margin: 5px 2px;
}

.tea-flavors-item > * {
  /* transform: skew(-20deg); */
}


@media screen and (max-width: 1024px) {
  .rolls-items {
    columns: 2;
  }
}

@media screen and (max-width: 600px) {
  .rolls-items {
    columns: 1;
  }

    .menu-section-title {
   text-align: center;
  }

  .menu-section {
    margin: 10px auto;
  }

  .menu-imgs {
    display: none;
  }

  .tea-keys {
    flex-direction: column;
  }
}