.sushi-menu-container {
  /* border: 1px solid red; */
  background: #f5efef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  margin: 10px auto;
  width: 80%;
}

.menu-section-container {
  /* background: #e97171; */
  /* border-radius: 5%; */
  border: 5px solid black;
  display: flex;
  margin: 10px 0;
  width: 100%;
  padding: 20px;
}
.plates-container, .sides-container {
  justify-content: space-between;
  /* flex: 2 1; */
}

.menu-section {
  /* border: 1px solid red; */
}
.plates-section {
  /* border: 1px solid red; */
  /* width: 50%; */
  flex: 1.5;
  margin-right: 30px;
}
.sides-section{
  flex: 1.5;
  margin-left: 30px;
}
.rolls-section {
  margin: 0 auto;
}

.menu-section-title {
  background-color: #810000;
  color: #f5efef;
  padding: 5px 7px;
}
.sides-title {
  text-align: right;
}

.menu-items {
  /* border: 1px solid red; */
  /* display: flex; */
}
.rolls-items {
  columns: 2;
}

.menu-imgs {
  /* border: 1px solid blue; */
  flex: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: 40%; */
  background: #810000;
  /* background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png") */
}
.menu-imgs > img {
  /* border: 1px solid red; */
  object-fit: cover;
  margin: 10px 0;
  width: 100%;
}

.sushi-menu-item {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px;
  /* width: 50%; */
}

.item-top > p {
  margin: 10px 0 0;
}

.item-bottom > p {
  margin: 5px 0 0;
  width: 90%;
}

.item-top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}




@media screen and (max-width: 800px) {
  .rolls-items {
    columns: 1;
  }

  .menu-section-title {
   text-align: center;
  }

  .menu-section {
    margin: 10px auto;
  }

  .menu-imgs {
    display: none;
  }
}