.menu-container {
  /* border: 1px solid red; */
  background: #f5efef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  margin: 10px auto;
  width: 80%;
}

.menu-title-container {
  background-color: #810000;
  color: #f5efef;
  transform:skew(20deg);
  width: 50%;
}

.menu-title {
  text-align: center;
  margin: 10px;
  transform:skew(-20deg);
}

.menu-section-container {
  /* background: #e97171; */
  /* border-radius: 5%; */
  border: 5px solid black;
  border-style: dashed solid;
  display: flex;
  margin: 10px 0;
  width: 100%;
  padding: 20px;
}
.plates-container, .sides-container {
  justify-content: space-between;
  /* flex: 2 1; */
}

.menu-section {
  /* border: 1px solid red; */
}
.plates-section {
  /* border: 1px solid red; */
  /* width: 50%; */
  flex: 1.5;
  margin-right: 30px;
}
.sides-section{
  flex: 1.5;
  margin-left: 30px;
}
.rolls-section {
  margin: 0 auto;
}

.section-title-container {
  background-color: #ffcb8e;
  transform: skew(-20deg);
}

.menu-section-title {
  /* color: #f5efef; */
  padding: 5px 15px;
  transform: skew(20deg);
}
.sides-title {
  text-align: right;
}

.menu-items {
  /* border: 1px solid red; */
  /* display: flex; */
}
.rolls-items {
  /* border: 1px solid red; */
  columns: 3;
}

.menu-imgs {
  /* border: 1px solid blue; */
  flex: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: 40%; */
  /* background: #e97171; */
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png")
}
.menu-imgs > img {
  /* border: 1px solid red; */
  object-fit: cover;
  margin: 10px 0;
  width: 100%;
}

.sushi-menu-item {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px 5px;

  -webkit-column-break-inside: avoid-column; 
  page-break-inside: avoid-column;
  break-inside: avoid-column;
}

.item-top {
  /* border: 1px solid red; */
  margin: 5px 0;
}
.item-top > p {
  /* border: 1px solid red; */
  margin: 0;
}

.item-bottom {
  margin: 0 0 5px;
}
.item-bottom > p {
  margin: 0;
  width: 90%;
}

.item-top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}




@media screen and (max-width: 1024px) {
  .rolls-items {
    columns: 2;
  }

}

@media screen and (max-width: 600px) {
  .rolls-items {
    columns: 1;
  }

    .menu-section-title {
   text-align: center;
  }

  .menu-section {
    margin: 10px auto;
  }

  .menu-imgs {
    display: none;
  }
}