.container-v1 {
  /* border: 1px solid red; */
  /* background-color: #f5efef; */
  /* background-image: url("../images/arches.png"); */
  /* height: 80vh; */
  margin: 0 auto;
  padding: 20px 40px;
  position: relative;
  width: 80%;
}

.background-div {
  /* border: 1px solid red; */
  background-color: #f5efef;
  background-image: url("../images/arches.png");
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  height: 100%;
  z-index: -1;
}

.title-container {
  /* border: 1px solid red; */
  background-color: #810000;
  margin: 10px auto 0;
  padding: 1px 10px;
  transform: skewX(20deg);
  width: 50%;
}

.title-v1 {
  color: #f5efef;
  margin: 10px;
  text-align: center;
  text-shadow: 3px 3px black;
  transform: skewX(-20deg);
}

.info-box {
  border: 5px solid black;
  border-style: dashed solid;
  margin: 50px auto;
  padding: 100px 20px;
  text-align: center;
  width: 90%;
}

.info-box > h3 {
  font-size: 2em;
}

.num-highlight {
  /* background-image: url("../images/red-paint-brush-stroke-21.png"); */
  background-image: url("../images/orange-watercolor-brush-stroke-3-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5px;
}


@media screen and (max-width: 600px) {
  .title-container {
    /* min-width: 250px; */
  }

  .title-v1 {
    font-size: 1.4em;
    margin: 3px 5px;
  }

  .info-box > h3 {
  font-size: 1.2em;
  }
}