.splash-container {
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 2.5rem;
  position: relative;
}


.splash-background {
  background-color: #f5efef;
  background-image: url("../images/arches.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -2;
}

.splash-title-container {
  position: relative;
}

.splash-title {
  color: black;
  font-size: 7em;
  text-align: center;
  text-shadow: 5px 3px white;
  margin: 80px auto 10px;
}

.splash-highlight {
  position: absolute;
  background-image: url("../images/yellow-paint-brush-stroke-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 40px 0 60px;
  opacity: 0.7;
  height: 80%;
  width: 85%;
  top: 15%;
  z-index: -1;
}

.slideshow-container {
  background-color: black;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -2;
  height: 55vh;
}

.slide-item {
  display: none;
}

.slide-item:first-child {
  display: block;
}

.slide-item > img {
  object-fit: cover;
  height: 55vh;
  width: 100%;
}

.fade {
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  0% {opacity: 0.5;}
  100% {opacity: 1;}
}

.bottom-splash-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 25px;
  margin-top: 25vh;
  padding: 20px;
}

.hours-container, .about-container {
  border: 5px solid black;
  border-style: solid dashed;
  margin: 0 5px;
  padding: 10px;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1.5;
  padding: 20px;
}

.hours-container {
  flex: 1;
  text-align: center;
}

.splash-subtitle-container {
  background-color: #810000;
  margin: 0 auto 10px;
  padding: 5px;
  transform: skewX(20deg);
  width: 50%;
}

.subtitle {
  color: white;
  margin: 0;
  text-align: center;
  text-shadow: 3px 3px black;
  transform: skewX(-20deg);
}

.store-hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.store-hours > * {
  margin: 10px 0;
}

.about-item {
  margin: 0 auto;
  text-align: justify;
  width: 90%;
}

.about-q {
  margin: 3px 0;
}

.about-a {
  margin: 0;
}

.announcements-container {
  border: 5px solid black;
  border-style: dashed solid;
  margin: 0 auto 50px;
  padding: 25px;
  width: 80%;
}

.announcements {
  /* border: 1px solid red; */
  display: column;
  columns: 2;

}

.announcements-info {
  /* border: 1px solid red; */
  text-align: center;
  margin: 0 auto;
  padding: 5px;

  -webkit-column-break-inside: avoid-column; 
  page-break-inside: avoid-column;
  break-inside: avoid-column;
}

.announcements-desc {
  margin: 10px 0 3px;
}

.modal-image {
  cursor: pointer;
  margin: 0 auto;
  object-fit: cover;
  width: 400px;
}

@media screen and (min-width: 2000px) {
  .splash-title {
    font-size: 8rem;
  }
  .bottom-splash-container {
    margin-top: 15vh;
  }
}

@media screen and (min-height: 800px) {
    .slideshow-container, .slide-item > img {
    height: 50vh;
  }
    .bottom-splash-container {
    margin-top: 23vh;
  }
}


@media screen and (max-width: 1024px) {
  .splash-title {
    font-size: 5em;
    margin: 20px auto 10px;
  }

  .slideshow-container {
    height: 30vh;
  }

  .slide-item > img {
    height: 30vh;
  }

  .bottom-splash-container {
    flex-direction: column;
    margin-top: 10vh;
  }

  .hours-container, .about-container {
    border-style: dashed solid;
    margin: 5px 0;
  }

  .announcements {
    columns: 1;
  }

  .modal-image {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .splash-title {
    font-size: 4em;
    margin: -15px auto 5px;
  }

  .splash-highlight {
    height: 70px;
  }

  .slideshow-container {
    height: 20vh;
  }

  .slide-item > img {
    height: 20vh;
  }

  .bottom-splash-container {
    margin-top: 7vh;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .modal-image {
    width: 250px;
    height: 250px;
  }
}