.navbar-main {
  /* border: 1px solid red; */
  padding: 5px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

.head{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sushi-btn {
  /* border: 1px solid blue; */
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.nav-btns {
  margin: 5px;
}

.nav-btn {
  border: 1px solid white;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}
